

#header{
    padding: 20px;
    background-color: black;
    .logo{
        h1{
            color: #fff;
        }
    }
    .nav-menu{
        ul{
           
            li{
                
                margin-right: 10px;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}